VITE_CLERK_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=https://iltpyhsvitxtblhxmaeu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlsdHB5aHN2aXR4dGJsaHhtYWV1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcwNzY2NzgsImV4cCI6MjEwMjY1MjY3OH0.psgbFRQOYEaQaOl4ku3JuIIGnT6JsSmtw9laRA350Tg
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_dy5XFvXuAx7N0Hy7OtoG2w_Xiog6RCc
VITE_DEV_DEFAULT_ROLE=
